@page
@model IndexModel
@{
    ViewData["Title"] = "Weather Fetcher";
}

<h1>Weather Fetcher</h1>

<form method="post" asp-page-handler="FetchWeather">
    <div>
        <label for="CityName">City Name:</label>
        <input type="text" id="CityName" asp-for="CityName" />
    </div>
    <div>
        <label for="CountryName">Country Name:</label>
        <input type="text" id="CountryName" asp-for="CountryName" />
    </div>
    <button type="submit">Fetch Weather Description</button>
</form>

@if (!string.IsNullOrEmpty(Model.WeatherDescription))
{
    <p id="weatherDescription">@Model.WeatherDescription</p>
}